/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem 0;
}

span.mdc-tab__text-label {
  font-size: 0.75rem;
}

@media (min-width: 600px) {
  span.mdc-tab__text-label {
    font-size: 0.88rem;
  }
}

@media (min-width: 900px) {
  .container {
    max-width: 900px;
  }
}
